/* Container for the entire login page */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background-color: #fbfafa;
    padding: 20px;
}

/* Login Box Styling */
.loginBox {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

/* Title Styling */
.title {
    font-size: 1.8rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

/* Subtext Styling */
.subText {
    font-size: 1rem;
    color: #898585;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

/* Google Sign-In Button */
.googleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #7575eb;
    border: 2px solid #7575eb;
    border-radius: 30px;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
}

    .googleButton:hover {
        background-color: #7575eb;
        color: #fff;
    }

/* Sign Out Button */
.signOutButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7575eb;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
}

    .signOutButton:hover {
        background-color: #6060f1;
    }
